- 使用中文回答问题
- 使用 echarts-for-react 进行图标开发
- 类型定义使用 type
- 类型定义需要添加注释
- 改动代码的时候，不要去删除用户打的 TODO 和 FIXME 注释
- 禁止在代码中使用三元表达式嵌套三元表达式，这种写法可读性非常差
- 组件属性使用camelCase格式
- 必须注明组件props的类型和默认值
- 导出组件使用 export { ComponentName }
- 导出页面使用 export default PageName
